.back-to-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  z-index: 99;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 30px;
}

.back-to-top:hover {
  background-color: var(--dark) !important;
  border-color: var(--dark) !important;
}