.service-item {
  position: relative;
  height: 350px;
  padding: 0 30px;
  transition: all 0.5s ease;
}

.service-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.service-icon {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 50%;
  transform: rotate(-14deg);
  transition: all 0.3s ease;
}

.service-item:hover .service-icon {
  transform: rotate(0deg);
}

.service-icon i {
  transform: rotate(15deg);
  transition: all 0.3s ease;
}

.service-item:hover .service-icon i {
  transform: rotate(0deg);
}